<?xml version="1.0"?>
<launch>
  <master auto="start"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find mecanum_sim)/../../test_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>

  <!-- Localization -->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="/laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="omni"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="update_min_d" value="0.1"/>
    <param name="update_min_a" value="0.1"/>
  </node>
  <!--include file="$(find amcl)/examples/amcl_omni.launch"/-->



  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find mecanum_sim)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find mecanum_sim)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find mecanum_sim)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find mecanum_sim)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find mecanum_sim)/config/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_vel"/>
    <remap from="odom" to="odom"/>
    <!-- <remap from="scan" to="/laser/scan"/> -->
    <!-- <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="0.2"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="0.2"/> -->
    <param name="controller_frequency" value="4.0" />


  </node>

<!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find mecanum_sim)/config/diff_drive/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find mecanum_sim)/config/diff_drive/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find mecanum_sim)/config/diff_drive/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find mecanum_sim)/config/diff_drive/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find mecanum_sim)/config/diff_drive/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="1.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="20.0" />
		<param name="controller_patience" value="20.0" />
	</node> -->
</launch>


